<section class="main">
  <header>
    <div class="navigation">
      <a href="#">Home</a>
      <a href="#">Posts</a>
      <a href="#">Questions</a>
      <a href="#">News</a>
    </div>
    <div class="user">
      <a href="#">Log in</a>
      <a class="sign-up" href="#">Sign up</a>
    </div>
  </header>
  
  <app-home-page></app-home-page>
  
  <footer>
    <p>© 2023, All Rights Reserved.</p>
    <div class="svg">
      <a href="#">a</a>
      <a href="#">s</a>
      <a href="#">d</a>
    </div>
  </footer>
</section>
  