<section id="register">
    <div class="form" >
      <h2>Sign Up</h2>
      <form class="register-form">
        <input
          type="text"
          name="email"
          id="register-email"
          placeholder="email"
          #userEmail
          required
          
        />
        <input
          type="password"
          name="password"
          id="register-password"
          placeholder="password"
          #userPwd
            required
          
        />
        <input
          type="password"
          name="re-password"
          id="repeat-password"
          placeholder="repeat password"
          
        />
        <button type="submit" (click)="authService.signUp(userEmail.value, userPwd.value)">register</button>
        <p class="message">Already registered? <a href="/SignIn">SignIn</a></p>
      </form>
    </div>
  </section>